$button-color-pressed: #9CA105;
$button-hover-color: #33bb33;
$button-color-pressed: #00ff00;

$font-color-primary: #010101;
$font-color-secondary: #99bb99;
$font-color-disabled: #bbbbbb;

$accent-color: #990101;
$disabled-color: #888888;

$card-color: #eeeeee;